@import url(./reset.scss);
@import url(./toggle-switch.scss);
@import url(./animations.scss);
@import url(./mq.scss);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --border-radius: 20px;
  --border-width: 0px;
  --gap-size: 20px;
  --main-color: #c6c5b9;
  --main-dark-color: #393d3f;
  --main-box-bgclr: #fdfdff;
}

body {
  height: 176%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--main-dark-color);
  font-family: "Poppins", sans-serif;
}

.main-container {
  width: 55%;
  height: 99%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: var(--gap-size);
}

@media (max-width: 1250px) {
  .main-container {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .main-container {
    width: 100%;
  }
}

header {
  grid-area: 1 / 1 / 2 / 2;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  gap: var(--gap-size);
  .header-box1 {
    border: var(--border-width) solid var(--main-dark-color);
    border-radius: var(--border-radius);
    background-color: var(--main-box-bgclr);
  }
  .header-box2 {
    border: var(--border-width) solid var(--main-dark-color);
    border-radius: var(--border-radius);
    background-color: var(--main-box-bgclr);
    font-weight: 600;
    font-size: 4.5em;
    padding: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

main {
  grid-area: 2 / 1 / 6 / 2;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: var(--gap-size);

  .main-box1 {
    grid-area: 1 / 1 / 4 / 4;
    border: var(--border-width) solid var(--main-dark-color);
    border-radius: var(--border-radius);
    background-color: var(--main-box-bgclr);
  }
  .main-box2 {
    grid-area: 1 / 4 / 2 / 5;
    border: var(--border-width) solid var(--main-dark-color);
    border-radius: var(--border-radius);
    background-color: var(--main-box-bgclr);
    color: var(--main-dark-color);
    font-weight: 700;
    padding: 5%;
    font-size: 5em;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-box3 {
    grid-area: 1 / 5 / 2 / 6;
    border: var(--border-width) solid var(--main-dark-color);
    border-radius: var(--border-radius);
    background-color: var(--main-box-bgclr);
    padding: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-box4 {
    grid-area: 2 / 4 / 4 / 6;
    border: var(--border-width) solid var(--main-dark-color);
    border-radius: var(--border-radius);
    background-color: var(--main-box-bgclr);
  }
  .main-box5 {
    grid-area: 4 / 1 / 5 / 6;
    border: var(--border-width) solid var(--main-dark-color);
    border-radius: var(--border-radius);
    background-color: var(--main-box-bgclr);
  }
}

footer {
  grid-area: 6 / 1 / 8 / 2;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--gap-size);
  .footer-box1 {
    grid-area: 1 / 3 / 3 / 6;
    border: var(--border-width) solid var(--main-dark-color);
    border-radius: var(--border-radius);
    background-color: var(--main-box-bgclr);

    .contact-me {
      height: 100%;
      padding: 5%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 2fr 5fr 2fr;
      gap: 10px;
    }
  }
  .footer-box2 {
    grid-area: 2 / 1 / 3 / 3;
    border: var(--border-width) solid var(--main-dark-color);
    border-radius: var(--border-radius);
    background-color: #eec643;
    color: var(--main-box-bgclr);
    font-weight: 600;
    padding: 5%;
    font-size: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-box3 {
    grid-area: 1 / 1 / 2 / 2;
    border: var(--border-width) solid var(--main-dark-color);
    border-radius: var(--border-radius);
    background-color: #0076b2;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-box4 {
    grid-area: 1 / 2 / 2 / 3;
    border: var(--border-width) solid var(--main-dark-color);
    border-radius: var(--border-radius);
    background-color: #181616;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
